.Article{
    .container {
        border-radius: 5px;
        background: rgb(64,33,26);
        background: linear-gradient(90deg, rgba(64,33,26,1) 0%, rgba(64,33,26,1) 35%, rgba(125,60,3,1) 100%);
        padding-top: 20px;
        padding: 30px;
        font-family: 'Source Code Pro', monospace;
        color:white;
    }
    .Contact{
        font-family: 'Source Code Pro', monospace;
        font-size: 25px;
        text-align: center;
        color:#BFACAA;
        text-decoration: none;
        padding-top: 50px;
        padding: 50px;
    }
}