//-----------------------------------LISTAS.....................................//



$ListColors:#ffff, #000000,grey,rgba(226, 4, 4, 0.77),rgb(133, 1, 1);
$Primario:nth($ListColors, 4 );
$Secundario:nth($ListColors,2 );
$ColVariant:nth($ListColors,5);
$Dark:nth($ListColors,2);


//----------------------------------------------------------------MAPS---------------------------------------------//

$Heading:( 
    h1:50px,
    h2:40px,
    h3:35px,
    h4:30px,
    h5:20px,
    h6:15px,
);
//---------------------valores----------------------------------//

$h1:map-get($Heading,h1);
$h2:map-get($Heading,h2);
$h3:map-get($Heading,h3);
$h4:map-get($Heading,h4);
$h5:map-get($Heading,h5);
$h6:map-get($Heading,h6);




//---------------------------------MIXIN----------------------------------------------//

@mixin FontStyle {
    font-family: 'Cinzel', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color:$Primario;
    font-size: $h1;
    padding: 80px;    
}
@mixin FontMenu {
    text-align: center;
    padding:0%;
    font-family: 'Source Code Pro', monospace;
    font-size:$h3;
    color:$Primario;
    text-decoration: none;    
}
@mixin FontStyle {
    font-family: 'Source Code Pro', monospace;
}


//-------------------------------------------------------------SELECTORES DE CONTACTO-------------------------------------------------------------//
#particles-js{
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: -1;
}
.Article{
    
    //FORMULARIO DE CONTACTO//
    .container {
        border-radius: 5px;
        background: rgb(64,33,26);
        background: linear-gradient(90deg, rgb(81, 21, 7) 0%, rgb(129, 70, 57) 35%, rgb(118, 115, 115) 100%);
        margin: 100px;
        padding-top: 20px;
        padding: 100px;
        color:white;
        @include FontStyle();
        position: relative;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.532);
    }
   
    .Contact{
        @include FontStyle();
        font-size: 25px;
        text-align: center;
        color:grey;
        text-decoration: none;
        padding-top: 50px;
        padding: 50px;
    }
    .FormContact{
        background-color: #862727;
        width: 400px;
        @include FontStyle();
        position:relative ;
        left: 40%;
        display:flex;
        flex-direction: column;
        justify-content: center; 
        box-shadow: 7px 13px 37px rgb(61, 28, 28);
        padding-bottom: -1000px;
        scale: 0.75;
    }
    .FormContact label , input , textarea{
        display: block;
        width: 100%;
        margin-bottom: 8px;
    }
    .FormContact label{
        font-weight: 500;
    }
    .FormContact input, textarea{
        border: none;
        border-bottom: 2px solid #fffffe;
        margin-bottom: 10px;
        font-size: $h5;
        outline: none;
        color: gray;
    }
    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px; 
        border: 1px solid rgba(247, 5, 5, 0.461);
        border-radius: 4px; 
        box-sizing: border-box;
        margin-top: 6px; 
        margin-bottom: 16px;
        resize: vertical;
        @include FontStyle();
        
      }
      
      input[type=submit] {
        background-color: #585857;
        color: rgb(255, 255, 255);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        @include FontStyle();
      }
      
      input[type=submit]:hover {
        background-color: grey;
      }
}
