* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.counter .Titulo__Pagina {
  font-family: 'Cinzel', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  color: rgba(226, 4, 4, 0.77);
  font-size: 50px;
  padding: 80px; }

.counter .Titulo__Redes {
  text-align: right;
  padding: 16px;
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 2rem;
  list-style: none; }

.counter .Titulo__Logo {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto; }

.counter .Menu {
  text-align: right;
  padding: 0px;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  color: rgba(226, 4, 4, 0.77);
  padding-bottom: 2rem; }

.counter .MenuSpects {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 3rem;
  list-style: none;
  text-decoration: none; }

.counter .MenuPrincipal {
  text-align: center;
  padding: 0%;
  font-family: 'Source Code Pro', monospace;
  font-size: 35px;
  color: rgba(226, 4, 4, 0.77);
  text-decoration: none; }

.counter .MenuProducts {
  text-align: center;
  padding: 0%;
  font-family: 'Source Code Pro', monospace;
  font-size: 35px;
  color: rgba(226, 4, 4, 0.77);
  text-decoration: none; }

.counter .MenuArtists {
  text-align: center;
  padding: 0%;
  font-family: 'Source Code Pro', monospace;
  font-size: 35px;
  color: rgba(226, 4, 4, 0.77);
  text-decoration: none; }

.counter .MenuContact {
  text-align: center;
  padding: 0%;
  font-family: 'Source Code Pro', monospace;
  font-size: 35px;
  color: rgba(226, 4, 4, 0.77);
  text-decoration: none; }

.Galery .Artistas1 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
  padding-right: 35px;
  padding-top: 30px;
  gap: 4rem; }

.Galery .Artistas2, .Galery .Artistas3 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 90px;
  gap: 10rem; }

.PieDePagina {
  padding-bottom: 200px; }
  .PieDePagina .PieDePagina__Imagen {
    text-align: center;
    padding: 10px; }
  .PieDePagina .PieDePagina__Subtitulo {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    color: rgba(226, 4, 4, 0.77);
    padding: 40px; }
  .PieDePagina .PieDePagina__Parrafo {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #000000; }

.Article .container {
  border-radius: 5px;
  background: #40211a;
  background: linear-gradient(90deg, #511507 0%, #814639 35%, #767373 100%);
  margin: 100px;
  padding-top: 20px;
  padding: 100px;
  color: white;
  font-family: 'Source Code Pro', monospace; }

.Article .Contact {
  font-family: 'Source Code Pro', monospace;
  font-size: 25px;
  text-align: center;
  color: grey;
  text-decoration: none;
  padding-top: 50px;
  padding: 50px; }

.Article .FormContact {
  background-color: #862727;
  width: 400px;
  font-family: 'Source Code Pro', monospace;
  position: relative;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 7px 13px 37px #3d1c1c;
  padding-bottom: -1000px;
  scale: 0.75; }

.Article .FormContact label, .Article input, .Article textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px; }

.Article .FormContact label {
  font-weight: 500; }

.Article .FormContact input, .Article textarea {
  border: none;
  border-bottom: 2px solid #fffffe;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: gray; }

.Article input[type=text], .Article select, .Article textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(247, 5, 5, 0.461);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Source Code Pro', monospace; }

.Article input[type=submit] {
  background-color: #585857;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Source Code Pro', monospace; }

.Article input[type=submit]:hover {
  background-color: grey; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.Ficha .Modelo {
  padding: 3%;
  font-family: 'Cinzel', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  color: #850101;
  justify-content: center;
  text-align: center;
  text-decoration: none; }

.Ficha .Variante1 {
  display: grid;
  grid-template-columns: 400px 700px;
  gap: 30rem;
  padding-left: 40px;
  padding: 60px;
  height: auto; }

.Ficha .Variante2 {
  display: grid;
  grid-template-columns: 400px 700px;
  gap: 30rem;
  padding-left: 40px;
  padding: 60px;
  height: auto; }

.Ficha .Variante3 {
  display: grid;
  grid-template-columns: 400px 700px;
  gap: 30rem;
  padding-left: 40px;
  padding: 60px;
  height: auto; }

.Ficha .Tablas {
  display: grid;
  color: #850101;
  font-family: 'Cinzel', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  grid-template-columns: 4px;
  padding: 3%;
  border-style: none;
  justify-content: left; }

.Ficha .ElementosTablas {
  display: grid;
  grid-template-columns: 50rem;
  background-color: #000000; }

.Ficha .Elemento {
  background-color: rgba(255, 255, 255, 0.739);
  display: flex;
  padding: 10px; }

@media screen and (max-width: 1240px) {
  .counter {
    display: grid;
    grid-template-columns: 100%;
    max-width: 100%;
    margin: auto; }
    .counter .Titulo__Pagina {
      font-size: 40px;
      font-family: 'Cinzel', serif;
      font-family: 'Playfair Display', serif;
      text-align: center;
      color: rgba(226, 4, 4, 0.77);
      padding: 10px; }
    .counter .Menu {
      text-align: left;
      padding: 0px;
      font-family: 'Source Code Pro', monospace;
      font-size: 10px;
      color: #BFACAA; }
      .counter .Menu .MenuSpects {
        padding: 0px;
        list-style: none;
        text-decoration: none;
        text-align: center; }
    .counter .Ficha .Tablas {
      display: flex;
      color: white;
      grid-template-columns: 4px;
      font-size: 30px;
      padding: 1px;
      border-style: none;
      flex-direction: column; }
    .counter .Ficha .ElementosTablas {
      display: flex;
      flex-direction: column;
      background-color: #000000; }
    .counter .Ficha .Elemento {
      background-color: grey;
      display: flex;
      flex-direction: column; }
    .counter .Ficha .Variante1 {
      display: flex;
      flex-direction: column;
      gap: 15px; }
    .counter .Ficha .Variante2 {
      display: flex;
      flex-direction: column;
      gap: 15px; }
    .counter .Ficha .Variante3 {
      display: flex;
      flex-direction: column;
      gap: 15px; }
    .counter .Galery .Artistas1 {
      display: flex;
      flex-direction: column; }
    .counter .Galery .Artistas2, .counter .Galery .Artistas3 {
      display: flex;
      flex-direction: column; }
    .counter .Galery .Artistas3 {
      display: flex;
      flex-direction: column;
      size: 50%; } }
